# SPDX-License-Identifier: BSD-2-Clause-Patent

#insmod regexp
set ogroot=$root

set secureboot=disabled
if [ "$lockdown" = "y" ]; then
set secureboot=enabled
fi

set bwb_version="unknown"
if [ -e /version.txt ]; then
  source /version.txt
fi

source /efi/ubuntu/config/ubuntu.cfg
source /efi/ubuntu/config/otherlinux.cfg
source /efi/ubuntu/config/tool.cfg

for isofile in /*.efi; do
	if [ -e "$isofile" ]; then
		menuentry "found $isofile" "$isofile"{
			set isofile="$2"
			chainloader $isofile
			boot
		}
	fi
done

for isofile in /memtest86-us*.img; do
	if [ -e "$isofile" ]; then
		submenu "$isofile" "$isofile"{
			set isofile="$2"
			loopback loop $isofile
			search --set=root --file /license.rtf
			menuentry "Start Memory Test $isofile"{
				chainloader /EFI/BOOT/BOOTX64.efi
				boot
			}
		}
	fi
done

menuentry "mmx64.efi MokManager (use it to enroll the hash to remove error: bad shim)" {
	chainloader /efi/boot/mmx64.efi
	boot
}

submenu "System / Debug Menu"{
	source /efi/ubuntu/config/system-specifications.cfg
	menuentry "exit" {exit}
	menuentry "Unload loopback & reset root fix (error: device name already exists)"{
		set root=$ogroot
		loopback loop -d
		configfile /boot/grub/grub.cfg
	}
	menuentry "UEFI Firmware Settings" {fwsetup}
	menuentry "Reboot" {reboot}
	menuentry "Poweroff" {halt}
}

menuentry "About ($bwb_version)" {
	echo "BWBundle - Multi-boot USB System"
	echo "Version: $bwb_version"
	echo ""
	echo "Website: https://bootable.wiki/bwbundle"
	echo "GitHub :  https://github.com/bootable-wiki/bwbundle"
	echo "YouTube: https://youtube.com/@bootablewiki"
	echo ""
	echo "Press any key to return..."
	sleep --interruptible 30
}
