# SPDX-License-Identifier: BSD-2-Clause-Patent

#insmod regexp
set ogroot=$root

set secureboot=disabled
if [ "$lockdown" = "y" ]; then
set secureboot=enabled
fi

set bwb_version="unknown"
if [ -e /version.txt ]; then
  source /version.txt
fi

source /efi/ubuntu/config/ubuntu.cfg
source /efi/ubuntu/config/otherlinux.cfg
source /efi/ubuntu/config/tool.cfg

for isofile in /*.efi; do
	if [ -e "$isofile" ]; then
		menuentry "found $isofile" "$isofile"{
			set isofile="$2"
			chainloader $isofile
			boot
		}
	fi
done

for isofile in /memtest86-us*.img; do
	if [ -e "$isofile" ]; then
		submenu "$isofile" "$isofile"{
			set isofile="$2"
			loopback loop $isofile
			search --set=root --file /license.rtf
			menuentry "Start Memory Test $isofile"{
				chainloader /EFI/BOOT/BOOTX64.efi
				boot
			}
		}
	fi
done

menuentry "Start WinPE (auto hi-res)" {
	set gfxmode=1920x1080,1920x1200,1680x1050,1440x900,1366x768,1280x800,1920x1280,1600x900,1280x720,1024x768,800x600,auto
	set gfxpayload=keep
	export gfxmode gfxpayload
	terminal_output gfxterm
	chainloader /efi/microsoft/boot/bootmgr.efi
	boot
}

menuentry "mmx64.efi MokManager (use it to enroll the hash to remove error: bad shim)" {
	chainloader /efi/boot/mmx64.efi
	boot
}

submenu "System / Debug Menu"{
	source /efi/ubuntu/config/system-specifications.cfg

	submenu "Graphics / Resolution"{
		menuentry "enable high res" {
			terminal_output gfxterm
		}
		menuentry "disable high res" {
			terminal_output console
		}
		menuentry "auto high res" {
			set gfxmode=1920x1080,1920x1200,1680x1050,1440x900,1366x768,1280x800,1920x1280,1600x900,1280x720,1024x768,800x600,auto
			set gfxpayload=keep
			export gfxmode gfxpayload
			terminal_output gfxterm
		}
		menuentry "1080p" {
			set gfxmode=1920x1080
			export gfxmode
			terminal_output gfxterm
		}
		menuentry "720p" {
			set gfxmode=1280x720
			export gfxmode
			terminal_output gfxterm
		}
		menuentry "1366x768" {
			set gfxmode=1366x768
			export gfxmode
			terminal_output gfxterm
		}
		menuentry "1024x768" {
			set gfxmode=1024x768
			export gfxmode
			terminal_output gfxterm
		}
		menuentry "800x600" {
			set gfxmode=800x600
			export gfxmode
			terminal_output gfxterm
		}
		menuentry "640x480" {
			set gfxmode=640x480
			export gfxmode
			terminal_output gfxterm
		}
	}

	menuentry "exit" {exit}
	menuentry "Unload loopback & reset root fix (error: device name already exists)"{
		set root=$ogroot
		loopback loop -d
		configfile /boot/grub/grub.cfg
	}
	menuentry "UEFI Firmware Settings" {fwsetup}
	menuentry "Reboot" {reboot}
	menuentry "Poweroff" {halt}
}

menuentry "About ($bwb_version)" {
	echo "BWBundle - Multi-boot USB System"
	echo "Version: $bwb_version"
	echo ""
	echo "Website: https://bootable.wiki/bwbundle"
	echo "GitHub :  https://github.com/bootable-wiki/bwbundle"
	echo "YouTube: https://youtube.com/@bootablewiki"
	echo ""
	echo "Press any key to return..."
	sleep --interruptible 30
}
