#insmod regexp
set ogroot=$root

set secureboot=disabled
if [ "$lockdown" = "y" ]; then
set secureboot=enabled
fi

menuentry "exit" {exit}

source /efi/ubuntu/config/ubuntu.cfg
source /efi/ubuntu/config/otherlinux.cfg
source /efi/ubuntu/config/tool.cfg

for isofile in /*.efi; do
	if [ -e "$isofile" ]; then
		menuentry "found $isofile" "$isofile"{
			set isofile="$2"
			chainloader $isofile
			boot
		}
	fi
done

for isofile in /memtest86-us*.img; do
	if [ -e "$isofile" ]; then
		submenu "$isofile" "$isofile"{
			set isofile="$2"
			loopback loop $isofile
			search --set=root --file /license.rtf
			menuentry "Start Memory Test $isofile"{
				chainloader /EFI/BOOT/BOOTX64.efi
				boot
			}
		}
	fi
done

menuentry 'mmx64.efi MokManager (use it to enroll the hash to remove error: bad shim)' {
	chainloader /efi/boot/mmx64.efi
	boot
}

menuentry 'Unload loopback & reset root fix (error: device name already exists)'{
	set root=$ogroot
	loopback loop -d
	configfile /boot/grub/grub.cfg
}
menuentry 'UEFI Firmware Settings' {
	fwsetup
}
menuentry 'Reboot'{
	reboot
}
menuentry 'Poweroff'{
	halt
}
menuentry 'System Specifications' {
	echo "Thank Ventoy for putting these all in a list (hwinfo.cfg)"

	smbios -t 4 -s 0x10 --set=cpu_brand;
	smbios -t 1 -s 0x04 --set=system_vendor;
	smbios -t 1 -s 0x05 --set=system_product;
	smbios -t 1 -s 0x06 --set=system_version;

	smbios -t 2 -s 0x04 --set=board_vendor;
	smbios -t 2 -s 0x05 --set=board_product;
	smbios -t 2 -s 0x06 --set=board_version;

	smbios -t 0 -s 0x04 --set=bios_vendor;
	smbios -t 0 -s 0x05 --set=bios_ver;
	smbios -t 0 -s 0x08 --set=bios_date;
	smbios -t 0 -b 0x09 --set=bios_size;

	echo ""
	echo "CPU Model               $cpu_brand"
	echo "Secure Boot Status      $secureboot"

	echo ""
	echo "Manufacturer            $system_vendor"
	echo "Product Name            $system_product"
	echo "Version                 $system_version"

	echo ""
	echo "Board Manufacturer      $board_vendor"
	echo "Board Name              $board_product"
	echo "Board Version           $board_version"

	echo ""
	echo "BIOS Manufacturer       $bios_vendor"
	echo "BIOS Version            $bios_ver"
	echo "BIOS Date               $bios_date"
	echo "BIOS ROM Size           $bios_size"
	echo ""

	echo "press ESC to return to menu"
	sleep --interruptible 60
}
